/* Style for "Anker Mana" */
#anker-management-logistics {
    position: absolute;
    top: 55px;
    left: 54px;
    width: 90%;
    height: 94px;
    color: #8bc1ff;
    font-family: "Zawiya ☞";
    font-size: 37px;
    font-weight: 700;
} /* Text style for "Anker,
Man" */
#anker-management-logistics {
    font-family: "Segoe UI";
    font-weight: 700;
}

 {
}

/* Style for "Offers a f" */
 {
}

 {
}

#offers-a-full {
    position: absolute;
    top: 109px;
    left: 56px;
    width: 1450px;
    height: 83px;
    color: #6aaffc;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 700;
}

 {
}

#card {
    border-top-color: #000000;
}

.card {
}

.header-card {
    color: #7c5656;
}

#weAre{
    
    color : #5fa5fd;
    
    
}